<!-- Dev -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Prod -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<div id="app-2">
    <span v-bind:title="message" v-if="seen">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script>
    // var app2 = new Vue({
    //     el: '#app-2',
    //     data: {
    //         message: 'You loaded this page on ' + new Date().toLocaleString(),
    //         seen: true
    //     }
    // })

    // var app4 = new Vue({
    //     el: '#app-4',
    //     data: {
    //         todos: [
    //             { text: 'Learn scuba diving' },
    //             { text: 'Buy car insurance' },
    //             { text: 'Start mom\' account' }
    //         ]
    //     }
    // })

    // var app5 = new Vue({
    //     el: '#app-5',
    //     data: {
    //         message: 'Hello Vue.js!'
    //     },
    //     methods: {
    //         reverseMessage: function () {
    //             this.message = this.message.split('').reverse().join('')
    //         }
    //     }
    // })


    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        },
        beforeCreate: function() {
            console.log('Message @ BeforeCreate is ' + this.message)
        },
        created: function() {
            console.log('Message @ Creation is ' + this.message)
        },
        mounted: function() {
            console.log('Message @ Mount is ' + this.message)
        },
        updated: function() {
            console.log('Message @ Updated is ' + this.message)
        },
        destroyed: function() {
            console.log('Message @ Destroyed is ' + this.message)
        },
    })

</script>